<html>
    <head>
    </head>
    <body>
        <!-- Create a game -->
        Locations:<br/>
        <form action="/placeguessr/create-game" method="POST">
            {% for place in places %}
                <input type="radio" id="{{place.key}}" name="place" value="{{place.key}}"/>
                <label for="{{place.key}}">{{place.human_name}}</label>
                <br/>
            {% endfor %}
            <input type="submit" value="Create Game">
        </form>

        <!-- Join a game -->
    </body>
</html>
