<html>
    <head>
    </head>
    <body>
        <!-- Create a game -->
        Locations:<br/>
        <form action="create-game" method="POST">
            <input type="radio" id="world" name="place" value="world">
            <label for="world">World</label>
            <br/>
            <input type="radio" id="us" name="place" value="us">
            <label for="us">United States</label>
            <br/>
            <input type="radio" id="europe" name="place" value="europe">
            <label for="europe">Europe</label>
            <br/>
            <input type="radio" id="texas" name="place" value="texas">
            <label for="texas">Texas</label>
            <br/>
            <input type="radio" id="mcdonalds" name="place" value="mcdonalds">
            <label for="mcdonalds">McDonald's Only</label>
            <br/>
            <input type="radio" id="walmart" name="place" value="walmart">
            <label for="walmart">WalMart Only</label>
            <br/>
            <input type="submit" value="Create Game">
        </form>

        <!-- Join a game -->
    </body>
</html>
